.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.show-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.show-image {
  width: 200px;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
}

.show-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #f9f9f9;
}

.show-title {
  margin-top: 0;
}

.show-summary {
  margin-bottom: 10px;
}

.show-details-button {
  display: block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.show-details-button:hover {
  background-color: #0056b3;
}
